<%= simple_form_for [@casting, @audition] do |f| %>
  <div class="field">
    <%= f.input :status, as: :hidden, input_html: { value: 'pending' } %>
  </div>

  <% if @casting.video.attached? %>
    <h3>Instructional Video</h3>
    <%= video_tag url_for(@casting.video), controls: true %>
  <% end %>

  <div class="field">
    <%= f.input :videos, as: :file, input_html: { multiple: true } %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Submit Audition" %>
  </div>
<% end %>
