<h1>New Casting</h1>
<div class = "container">
  <%= simple_form_for [@producer, @casting] do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :dancing_style %>
    <%= f.input :deadline %>
    <%= f.input :location %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, 'Create Casting', class: 'btn btn-primary' %>
  <% end %>
</div>
