<head>
  <link rel="stylesheet" href="castings/_show.scss">
</head>
<body>
    <div class="container">
        <section class="main-content">
            <div class="job-details">
                <h2><%= @casting.title %></h2>
                <div class="job-description">
                    <div class="job-image">
                        <%= cl_image_tag @casting.photo.key, height: 300, width: 400, crop: :fill if @casting.photo.attached? %>
                    </div>
                    <div class="description">
                        <h3>Description</h3>
                        <p><%= @casting.description %></p>
                        <div class="info-tags">
                            <span class="tag"><%= @casting.dancing_style %></span>
                        </div>
                        <div class="apply-details">
                          <span class="tag"><%= @casting.deadline %></span>
                          <span class="tag"><%= @casting.location %></span>
                            <% if current_user.dancer %>
                              <%= link_to "Apply now", new_producer_casting_audition_path(@casting.producer, @casting), class: "button" %>
                            <% end %>

                            <% if current_user.producer? %>
                                <div class="auditions-link">
                                    <%= link_to "View All Auditions", producer_casting_auditions_path(@casting.producer, @casting), class: "button" %>
                                </div>
                            <% end %>

                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section class="interested">
            <h3>You may also be interested in...</h3>
            <div class="cards">
                <div class="card">
                    <h4>Show name</h4>
                    <p>City Name</p>
                    <p>Style</p>
                    <p>This is a paragraph description where we'll add a bunch of words that shouldn't go beyond a few lines...</p>
                    <p>Due date</p>
                </div>
                <div class="card">
                    <h4>Show name</h4>
                    <p>City Name</p>
                    <p>Style</p>
                    <p>This is a paragraph description where we'll add a bunch of words that shouldn't go beyond a few lines...</p>
                    <p>Due date</p>
                </div>
                <div class="card">
                    <h4>Show name</h4>
                    <p>City Name</p>
                    <p>Style</p>
                    <p>This is a paragraph description where we'll add a bunch of words that shouldn't go beyond a few lines...</p>
                    <p>Due date</p>
                </div>
            </div>
        </section>
    </div>
</body>
