<div class="container">
  <p><strong>Casting Title:</strong> <%= @casting.title %></p>
  <p><strong>Casting Description:</strong> <%= @casting.description %></p>
  <p><strong>Casting Dancing Style:</strong> <%= @casting.dancing_style %></p>
  <p><strong>Deadline:</strong> <%= @casting.deadline %></p>
  <p><strong>Location:</strong> <%= @casting.location %></p>
</div>
