  <div class="banner">
    <div class="container">
      <h1>Castify</h1>
      <p>Find your next gig</p>
      <a class="btn btn-flat" href="#">Apply now</a>
    </div>
  </div>

<!--  <div class="search-bar">
    <input type="text" placeholder="Search...">
    <button>Search</button>
  </div>-->

  <div class="search-bar">
    <%= form_with url: root_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search..." %>
      <%= submit_tag "Search", name: "", class: "btn btn-flat" %>
    <% end %>
  </div>

<% if current_user && current_user.producer %>
  <div class="cards">
    <% @dancers.each do |dancer| %>
      <div class="card">
        <%= link_to dancer_path(dancer) do %>
          <div class="image-placeholder">
            <% if dancer.profile_picture.attached? %>
              <%= cl_image_tag dancer.profile_picture.key, class: 'card-image' %>
            <% end %>
          </div>
          <h2><%= dancer.name %></h2>
          <div class="details">
            <span><%= dancer.dancing_styles %></span>
          </div>
          <p><%= dancer.bio %></p>
        <% end %>
      </div>
    <% end %>
  </div>
<% else current_user && current_user.dancer %>
  <div class="cards">
    <% @castings.each do |casting| %>
      <div class="card">
        <%= link_to casting_path(casting) do %>
          <div class="image-placeholder">
            <% if casting.photo.attached? %>
              <%= cl_image_tag casting.photo.key, class: 'card-image' %>
            <% end %>
          </div>
          <h2><%= casting.title %></h2>
          <div class="details">
            <span><%= casting.location %></span>
            <span><%= casting.dancing_style %></span>
          </div>
          <p><%= casting.description %></p>
          <div class="due-date"><%= casting.deadline %></div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>


<% if user_signed_in? %>
  <% if current_user.role == "producer" %>
    <% if current_user.producer %>
      <%= link_to "Producer Profile", producer_path(current_user.producer) %>
    <% else %>
      <%= link_to "Create Producer Profile", new_producer_path %>
    <% end %>
  <% end %>

  <% if current_user.role == "dancer" %>
    <% if current_user.dancer %>
      <%= link_to "Dancer Profile", dancer_path(current_user.dancer) %>
    <% else %>
      <%= link_to "Create Dancer Profile", new_dancer_path %>
    <% end %>
  <% else %>
    <%= link_to "Kindly confirm if you are a 'Dancer' or a 'Producer'", edit_user_registration_path(current_user) %>
  <% end %>
<% end %>
