<div class="background">
  <% if @auditions.any? %>
    <h1 class="my-auditions">My Auditions</h1>
    <div class="cards">
      <% @auditions.each do |audition| %>
        <div class="card">
          <%= link_to casting_path(audition.casting) do %>
            <% if audition.casting.photo.attached? %>
              <%= cl_image_tag audition.casting.photo.key, class: 'card-image' %>
            <% end %>
            <div class="card-info">
              <h2><%= audition.casting.title %></h2>
              <div class="details">
                <span><i class="fas fa-map-marker-alt icon"></i><%= audition.casting.location %></span>
                <span><i class="fa-solid fa-person-running"></i> <%= audition.casting.dancing_style %></span>
              </div>
              <p><%= audition.casting.description %></p>
              <div class="status"><%= audition.status %></div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <h1 class="my-auditions">You have not applied to any auditions yet.</h1>
  <% end %>
  <%= link_to "Back", root_path, class: 'btn button-link' %>
</div>
