<div class="container dancer-info">
  <%= cl_image_tag @dancer.profile_picture.key, height: 300, width: 400, crop: :fill if @dancer.profile_picture.attached? %>
  <p><strong>Dancer Name:</strong> <%= @dancer.name %></p>
  <p><strong>Dancer Age:</strong> <%= @dancer.age %></p>
  <p><strong>Dancer Location:</strong> <%= @dancer.location %></p>
  <p><strong>Dancer Bio:</strong> <%= @dancer.bio %></p>
</div>


<div class="container">
  <h3>Auditions</h3>
  <%= link_to "View Applied Auditions", dancer_auditions_path(@dancer), class: "button" %>
</div>

<!--<div class = "container">-->
  <%# if current_user.user_id == @dancer.user_id %>
    <%#= link_to "Update Profile", edit_dancer_path(current_user.dancer) %>
  <%# end %>
<!--</div>-->

